 <!-- header-bottom-area start -->
        <div class="header-bottom-area ltn__border-top ltn__header-sticky  ltn__sticky-bg-white ltn__primary-bg---- menu-color-white---- d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col header-menu-column justify-content-center">
                        <div class="sticky-logo">
                            <div class="site-logo">
                                <a href="index.html"><img src="/img/logo.png" alt="Logo"></a>
                            </div>
                        </div>
                        <div class="header-menu header-menu-2">
                            <nav>
                                <div class="ltn__main-menu">
                                    <ul>
                                        <li class="menu-icon"><a href="Home">Anasayfa</a>
                                            <ul>
                                                <li><a href="/Home">Anasayfa</a></li>

                                            </ul>
                                        </li>
                                        <li class="menu-icon"><a href="#">Sayfalar</a>
                                            <ul class="mega-menu">
                                                <li><a href="#">Bilgiler</a>
                                                    <ul>
                                                        <li><a href="/Pages">Hakkımızda</a></li>  
                                                        <li><a href="/Pages/Faq">FAQ</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Bize Ulaşın</a>
                                                    <ul>
                                                        <li><a href="/Pages/Location">Adres</a></li>
                                                        <li><a href="/Contact/Index">İletişim</a></li>

                                                    </ul>
                                                </li>
                                                <li><a href="#">Alışveriş Yap</a>
                                                    <ul>
                                                        <li><a href="/Pages/Shop">Ürünler</a></li>
                                                        <li><a href="shop-grid.html">Buketler</a></li>
                                                        <li><a href="/Pages/ProductDetails">Alışveriş Detayları </a></li>
                                                    </ul>
                                                </li>

                                            </ul>
                                        </li>
                                        <li class="menu-icon"><a href="#">Sipariş Ver</a>
                                            <ul>
                                                <li><a href="shop.html">Shop</a></li>
                                                <li><a href="shop-grid.html">Shop Grid</a></li>
                                                <li><a href="shop-left-sidebar.html">Shop Left sidebar</a></li>
                                                <li><a href="shop-right-sidebar.html">Shop right sidebar</a></li>
                                                <li><a href="product-details.html">Shop details </a></li>
                                                <li><a href="#">Other Pages <span class="float-right">>></span></a>
                                                    <ul>
                                                        <li><a href="cart.html">Cart</a></li>
                                                        <li><a href="wishlist.html">Wishlist</a></li>
                                                        <li><a href="checkout.html">Checkout</a></li>
                                                        <li><a href="order-tracking.html">Order Tracking</a></li>
                                                        <li><a href="account.html">My Account</a></li>
                                                        <li><a href="login.html">Sign in</a></li>
                                                        <li><a href="register.html">Register</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                         <li class="menu-icon"><a href="#">Ürünler</a>
                                            <ul>
                                                <li><a href="Pages/Shop">Tüm Ürünler</a></li>
                                                <li><a href="portfolio-2.html">Portfolio - 02</a></li>
                                                <li><a href="Pages/ProductDetails">Ürün Detayları</a></li>
                                            </ul>
                                        </li>

                                        <li><a href="/Contact">İletişim</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header-bottom-area end -->