@model Category
@{
	ViewData["Title"] = "list category";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!--begin::Container-->
<div class="d-flex flex-column flex-column-fluid container-fluid">
	<!--begin::Toolbar-->
	<div class="toolbar mb-5 mb-lg-7" id="kt_toolbar">
		<!--begin::Page title-->
		<div class="page-title d-flex flex-column me-3">
			<!--begin::Title-->
			<h1 class="d-flex text-dark fw-bold my-1 fs-3">Add Category</h1>
			<!--end::Title-->
			<!--begin::Breadcrumb-->
			<ul class="breadcrumb breadcrumb-dot fw-semibold text-gray-600 fs-7 my-1">
				<!--begin::Item-->
				<li class="breadcrumb-item text-gray-600">
					<a href="../../demo14/dist/index.html" class="text-gray-600 text-hover-primary">Home</a>
				</li>
				<!--end::Item-->
				<!--begin::Item-->
				<li class="breadcrumb-item text-gray-600">eCommerce</li>
				<!--end::Item-->
				<!--begin::Item-->
				<li class="breadcrumb-item text-gray-600">Catalog</li>
				<!--end::Item-->
				<!--begin::Item-->
				<li class="breadcrumb-item text-gray-500">Add Category</li>
				<!--end::Item-->
			</ul>
			<!--end::Breadcrumb-->
		</div>
		<!--end::Page title-->
		
	</div>
	<!--end::Toolbar-->
	<!--begin::Post-->
	<div class="content flex-column-fluid" id="kt_content">
		<form asp-area="Admin" asp-controller="Category" asp-action="AddCategory">
		
			<!--begin::Main column-->
			<div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
				<!--begin::General options-->
				<div class="card card-flush py-4">
					<!--begin::Card header-->
					<div class="card-header">
						<div class="card-title">
							<h2>General</h2>
						</div>
					</div>
					<!--end::Card header-->
					<!--begin::Card body-->
					<div class="card-body pt-0">
						<div class="mb-10 fv-row">
							<label class="required form-label">Category Name</label>
							<input type="text" class="form-control mb-2" placeholder="Product name" asp-for="Name" />
							<div class="text-muted fs-7">A category name is required and recommended to be unique.</div>
						
						</div>
						<div class="mb-10 fv-row">
							<label class="required form-label">Ürün Kategori Sırası</label>
							<input type="number" asp-for="OrderNr" min="0" max="999" class="form-control mb-2" autocomplete="off" value="0" required />
						</div>
						<div class="row">
							<label class="col-lg-3 col-form-label fw-semibold fs-6">Aktif mi?</label>
							<div class="col-lg-8 d-flex align-items-center">
								<div class="form-check form-switch fv-row">
									<input class="form-check-input w-45px h-30px" type="checkbox" asp-for="IsActive" />
									<label class="form-check-label" for="allowmarketing"></label>
								</div>
							</div>
						</div>
						

					</div>
					<!--end::Card header-->
				</div>
				<!--end::General options-->
				<div class="d-flex justify-content-end">
					<!--begin::Button-->
					<a href="../../demo14/dist/apps/ecommerce/catalog/products.html" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">Cancel</a>
					<!--end::Button-->
					<!--begin::Button-->
					<button type="submit" id="kt_ecommerce_add_category_submit" class="btn btn-primary">
						<span class="indicator-label">Save Changes</span>
						<span class="indicator-progress">
							Please wait...
							<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
						</span>
					</button>
					<!--end::Button-->
				</div>
			</div>
			<!--end::Main column-->
		</form>
	</div>
	<!--end::Post-->
